EXPO_PUBLIC_MARKET_URL=https://mirjeck.cmfrt.uz/
EXPO_PUBLIC_STOREFRONT_DOMAIN=mirjeck.cmfrt.uz
EXPO_PUBLIC_GEOCODING_PROVIDER=yandex
EXPO_PUBLIC_GEOCODING_API_KEY=e1f4719f-0ac6-4d5d-acf4-ade6c04fda84
